/target/
/bin/
/.settings/
.classpath
.project
.tern-project
/revisao_geradores/
/avaliacao_questoes/
/contextualizados/
/resolucao_questao/
/paragrafo_resolucao_questao/
/paragrafo_resolucao_exercicio/
/revisao_latex/
