<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>PratiqueJa</display-name>

	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>web.filter.PageFilter</filter-class>
	</filter>

	<!-- Sem isto o navegador guarda os scripts por dias (cache heurístico) e um
	     deploy só chega ao usuário muito depois. Ver web.filter.CacheJsFilter. -->
	<filter>
		<filter-name>CacheJsFilter</filter-name>
		<filter-class>web.filter.CacheJsFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CacheJsFilter</filter-name>
		<url-pattern>/js/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/acesso/*</url-pattern>
		<url-pattern>/administracao/*</url-pattern>
		<url-pattern>/assunto/*</url-pattern>
		<url-pattern>/atividades/*</url-pattern>
		<url-pattern>/auditoria/*</url-pattern>
		<url-pattern>/avaliacao/*</url-pattern>
		<url-pattern>/configLatex/*</url-pattern>
		<url-pattern>/configuracao/*</url-pattern>
		<url-pattern>/contato/*</url-pattern>
		<url-pattern>/download/*</url-pattern>
		<url-pattern>/email/*</url-pattern>
		<url-pattern>/exercicio/*</url-pattern>
		<url-pattern>/exportar/*</url-pattern>
		<url-pattern>/gestaoQuestao/*</url-pattern>
		<url-pattern>/informativo/*</url-pattern>
		<url-pattern>/login/*</url-pattern>
		<url-pattern>/matematica/*</url-pattern>
		<url-pattern>/pagamento/*</url-pattern>
		<url-pattern>/planos/*</url-pattern>
		<url-pattern>/produtos/*</url-pattern>
		<url-pattern>/questao/*</url-pattern>
		<url-pattern>/exercicio/*</url-pattern>
		<url-pattern>/usuario/*</url-pattern>
		<url-pattern>/ebook/*</url-pattern>
		<url-pattern>/post/*</url-pattern>
		<url-pattern>/instagram/*</url-pattern>

	</filter-mapping>

	<error-page>
		<exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
		<location>/inicio.xhtml</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/acesso/404.xhtml</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/acesso/500.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/acesso/500.xhtml</location>
	</error-page>

	<!-- 30 min: o JSF cria sessão para guardar o view state mesmo de visitante
	     anônimo, e cada uma segurava memória até expirar. Com 120 min uma janela
	     de tráfego comum bastava para estourar o heap (OOM de 23/07/2026). -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Padrão do Mojarra é 15 views por sessão. Cada view guarda o estado da
	     árvore de componentes; 5 cobre o vai-e-volta normal entre telas. -->
	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>5</param-value>
	</context-param>
	<listener>
		<listener-class>web.listener.SessionListener</listener-class>
	</listener>
	<context-param>
		<param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.allowTextChildren</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>jakarta.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>auto</param-value>
	</context-param>

	<context-param>
		<param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
		<param-value>/*.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

<!-- 	<filter> -->
<!-- 		<filter-name>PrimeFaces FileUpload Filter</filter-name> -->
<!-- 		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>PrimeFaces FileUpload Filter</filter-name> -->
<!-- 		<servlet-name>Faces Servlet</servlet-name> -->
<!-- 	</filter-mapping> -->


</web-app>